$light-grey: #f7f6f0;
$light-blue: #a7cbd5;
$dark-green: #758576;
$grey-cyan: #71777d;
$dirty-blue: #4d4c59;
$dark-grey: #404040;

$grey-color: hsl(0, 0%, 28%);
$magenta-color: #BA2E8B;
$blue-color: #2BADFE;
$white: $light-grey;